body {
    background: black;
    height: 100vh;
    margin: 0px;
}

.tiles {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: rrepeat(var(--rows), 1fr);
}

.tile {
    outline: 1px solid white;
}